.chat {
  height: 64.4vh;
  background-color: #f8f8f8;
  padding: 1%;
  border: 1px solid #e7dfdf;
  border-right: none;
  overflow-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatBlock::-webkit-scrollbar {
    display: none;
}